<p>おすすめエリア</p>


<%= link_to '東京', search_rooms_path(default_query: '東京都') %>
<%= link_to '大阪', search_rooms_path(default_query: '大阪府') %>
<%= link_to '京都', search_rooms_path(default_query: '京都府') %>
<%= link_to '札幌', search_rooms_path(default_query: '札幌市') %>